body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
.top-title {
    font-family: 'serif';
}

#site-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #3333339a;
}

#site-logo {
    margin-left: 10px;
}

#site-logo a {
    text-decoration: none;
    color: #fff;
}

#nav-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav-menu-items {
    margin-right: 35px;
}

.nav-menu-items a {
    text-decoration: none;
    color: #fff;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
}

.swiper-slide {
    display: inline-block;
    position: relative;
}

.swiper-slide::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(241, 183, 207, 0.644)
}

.swiper-slide img {
    width: 100%;
    max-height: 40vh;
    align-items: center;
    object-fit: fill;
}


.top-title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 6rem;
    z-index: 1;
}

.description-text {
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
}

/* SubTitle */
.sub-title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 2rem;
}

#attention {
    text-align: center;
    margin: 2rem 0 2rem;
}

/* .cases {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.cases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
}

.case {
    background: #0bd;
    color: #fff;
    /* width: 100px; */
    margin: 15px;
    padding: 10px;
}

#nankai {
    color: yellow;
}

#syousai {
    display: flex;
    justify-content: center
}
